/node_modules
/public/hot
/public/js
/public/css
/public/storage
/storage/*.key
/vendor
.idea/
.DS_Store
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
