.customers-page {
  display: flex;
  flex-direction: column;
}

.time-sheet {
  > div {
    margin: 0 !important;
  }
  .time-cell {
    text-align: center;
    color: #666;
    height: 28px;
    line-height: 28px;
    margin: 2px 0;
    padding: 0 !important;

    &.active-0,
    &.active-1,
    &.active-2,
    &.active-3 {
      color: #9c27b0;
      border-top: solid 2px #9c27b0;
      border-bottom: solid 2px #9c27b0;
      line-height: 24px;
      font-weight: 600;
    }
    &.active-0 {
      border-left: solid 2px #9c27b0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &.active-3 {
      border-right: solid 2px #9c27b0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    &.disabled {
      color: #999;
      background: #ececec;
      &.active-0,
      &.active-1,
      &.active-2,
      &.active-3 {
        color: #fff;
        background: #9c27b0;
      }
    }
  }
}

.coach-grid {
  max-height: 65px;
}

.coach-container {
  margin-top: 18px;
  display: flex;
  .coach-avatar {
    margin-right: 6px;
  }
  .coach-name {
    flex: 1;
    line-height: 40px;
  }

  &.active {
    .coach-avatar {
      background: linear-gradient(60deg, #ab47bc, #8e24aa);
      box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
    }
    .coach-name {
      color: #9c27b0;
      font-weight: 600;
    }
  }
}
.timesheet-container {
  overflow: hidden;
}