.summary-card {
  margin-bottom: 0 !important
}
.add-order {
  position: unset;
  margin-left: 20px;
  z-index: 1000;
  background: #29aa99 !important;
  // box-shadow: 0px 4px 12px rgba(41, 170, 153, 0.5);
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
  color: #fff;
  transition: box-shadow .2s linear;

  &:hover {
    box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
  }
}
.gym-day-view-container {
  margin-top: 24px;
  border: 1px solid #f1f1f1;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;

  .coach-name {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }
  .coach-course-count {
    position: relative;
    background: #89ECC2;
    width: 16px;
    border-radius: 50%;
    height: 16px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    border: solid 1px #89ECC2;
    color: #fff;
    font-weight: 400;
    margin-left: 4px;
    box-shadow: 0px 1px 4px #89ECC2;

    &.red {
      border: solid 1px #FFC56D;
      background: #FFC56D;
      box-shadow: 0px 1px 4px #FFC56D;
    }
  }
  .gym-day-view-header {
    padding-right: 10px;
    display: flex;
    background: #F3F3F3;

    .gym-day-view-date-picker {
      width: 68px;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      padding: 4px 0;
    }
    .gym-day-view-coaches {
      display: flex;
      flex: 1;
    }
    .coach-column {
      flex: 1;
      align-items: center;
      display: flex;
      justify-content: center;
      > div {
        padding: 0 !important;
        text-align: center;
      }
    }
  }
  .gym-day-view-body-container {
    padding-top: 20px;
    padding-right: 10px;
    max-height: calc(100vh - 203px);
    overflow-y: scroll;
    display:flex;

    .gym-day-view-body-hour-axis {
      margin-top: -10px;
    }

    .gym-day-view-body-cols {
      flex: 1;
      display: flex;

      .gym-day-view-body-col {
        flex: 1;
      }
    }

    .time-column {
      position: relative;
      top: -11px;
      .time-slot {
        height: 22px; // consider border
      }
    }
    .coach-column {
      > div {
        padding: 0 !important;
      }
    }
    .time-slot {
      height: 22px;
      font-size: 16px;
      font-weight: 500;
    }
    .schedule-slot,
    .schedule-slot-x,
    .schedule-slot-start,
    .schedule-slot-end {
      border-top: #ececec dashed 1px;
      &.dot {
        border-top: #ececec dashed 1px;;
      }
      &.none {
        border-top-color: white;
      }
    }

    .schedule-slot-x,
    .schedule-slot-start,
    .schedule-slot-end {
      background: #E1F3EC;
      color:#29aa99;
      border-left: 6px solid #29aa99;
      padding-right: 4px;
      padding-left: 6px;
      display: flex;
      .schedule-action {
        margin-bottom: 4px;
        margin-left: 8px;
        margin-right: 4px;

        &.complete {
          background: #29aa99;
          color: #fff0f5;
          font-size: 12px;
          padding: 0 8px;
        }
      }
      .schedule-desc {
        font-weight: 700;
        flex: 1;
        display: flex;
        align-items: center;
      }
      &.done{
        background: #E7E7E7;
        color: #8B8B8B;
        border-left: 6px solid #8B8B8B;
      }
    }

    .schedule-slot-x,
    .schedule-slot-end {
      border-top: none !important;
    }

    .schedule-slot-start {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .schedule-slot-end {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}
