.summary-card {
  margin-bottom: 0 !important
}
.gym-day-view-container {
  margin-top: 20px;
  .gymd-day-picker {
    max-width: 50px;
    text-align: center;
    margin: auto;
    input {
      text-align: center;
    }
  }
  .coach-name {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #666;
    > span {
      position: relative;
      top: 10px;
      right: 6px;
      background: #9c27b0;
    }
  }
  .gym-day-view-header {
    padding-right: 10px;
    > div {
      margin: 0 !important;
    }
    .coach-column {
      > div {
        padding: 0 !important;
        text-align: center;
      }
    }
  }
  .gym-day-view-body-container {
    padding-top: 20px;
    padding-right: 10px;
    max-height: calc(100vh - 203px);
    overflow-y: scroll;
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2) inset;
    .time-column {
      position: relative;
      top: -11px;
      .time-slot {
        height: 22px; // consider border
      }
    }
    .coach-column {
      > div {
        padding: 0 !important;
      }
    }
    .time-slot {
      height: 22px;
    }
    .schedule-slot,
    .schedule-slot-x,
    .schedule-slot-start,
    .schedule-slot-end {
      border-top: #dcdcdc solid 1px;
      &.dot {
        border-top: #999 dotted 1px;
      }
      &.none {
        border-top-color: white;
      }
    }

    .schedule-slot-x,
    .schedule-slot-start,
    .schedule-slot-end {
      background: #fff0f5;
      color:rgb(189, 0, 78);
      border-left: 4px solid rgb(189, 0, 78);
      padding-right: 4px;
      display: flex;
      .schedule-action {
        margin-left: 30px;
        &.complete {
          background: rgb(189, 0, 78);
          color: #fff0f5;
          font-size: 12px;
          padding: 0 8px;
        }
      }
      .schedule-desc {
        flex: 1;
      }
      &.done{
        background: rgb(224, 247, 217);
        color: rgb(54, 98, 44);
        border-left: 4px solid rgb(54, 98, 44);
      }
    }

    .schedule-slot-x,
    .schedule-slot-end {
      border-top: none !important;
    }

    .schedule-slot-start {
      border-top-left-radius: 4px;
    }
    .schedule-slot-end {
      border-bottom-left-radius: 4px;
    }
  }
}
