@import "variables";

.input-range__track--active,
.input-range__slider {
  background: #ab47bc;
  border-color: #ab47bc;
}
.input-range__label {
  color: #ab47bc;
  font-weight: 900;
}

.input-range__label--min,
.input-range__label--max {
  display: none;
}
.MuiGrid-item.setting-option-block {
  padding: 30px 60px !important;
  svg {
    position: relative;
    top: -2px;
    margin-right: 6px;
    font-size: 16px;
  }
  .setting-gym-name {
    font-weight: 600;
    top: 8px;
    position: relative;
    display: flex;
    line-height: 36px;
    img {
      height: 36px;
    }
  }

  .input-range {
    top: 12px;
  }
}
