@use "variables" as *;

.input-range__track--active {
  background: #29aa99;
  opacity: 0.5;
  border-color: #29aa99;
}
.input-range__slider {
  background: #29aa99;
  border-color: #29aa99;
  box-shadow: 0px 2px 4px #29AA99;
}
.input-range__label {
  color: #333;
  font-weight: 700;
  top: -2.4rem;
}

.input-range__label--min,
.input-range__label--max {
  display: none;
}
.MuiGrid-item.setting-option-block {
  padding: 30px 60px !important;
  svg {
    position: relative;
    top: -2px;
    margin-right: 6px;
    font-size: 16px;
  }
  .setting-gym-name {
    font-weight: 600;
    top: 8px;
    position: relative;
    display: flex;
    line-height: 36px;
  }

  .input-range {
    top: 12px;
  }
}