.wrapper {
    top: 0;
    height: 100vh;
    position: relative;
}

.main-panel {
    float: right;
    overflow: auto;
    position: relative;
    height: 100%;
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    width: calc(100% - 140px);
}

.container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background-color: #fcfcfc;
    > * {
        max-height: calc(100% - 32px);
        padding: 16px 24px;
    }
}
